/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ====================== */
.container {
  max-width: 1440px;
  background-color: #fff;
}
.user-form {
}
#singleImagesForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.form-input {
  border-radius: 4px;
  width: 272px;
  height: 36px;
  background-color: #fff;
  /* padding: 8px 16px; */
  padding-left: 16px;
  padding-right: 16px;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

input:hover {
  border: 3px solid black;
}

input:focus {
  border: 3px solid #6c8cff;
  outline: none;
}

.form-button {
  text-align: center;

  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  background-color: #4e75ff;
  color: #fff;
  border: none;
}

.form-button:hover {
  background-color: #6c8cff;
}

.loader {
}
.hidden {
}
.gallery {
}
